<StackLayout orientation="vertical">
    <GridLayout
        height="100">
    </GridLayout>
    <Button
        text= "Jouer" [nsRouterLink]="['/questions']"
        background="blue" color="white" fontSize="20"
        width="250" height="80"  class="m-10">
    </Button>
    <Button
        text= "Classement"
        background="blue" color="white" fontSize="20"
        width="250" height="80"   class="m-10">
    </Button>
    <Button
        text= "Proposer une question"
        background="blue" color="white" fontSize="20"
        width="250" height="80"   class="m-10">
          <!--   [nsRouterLink]="['/addQuestion']" -->
    </Button>
    <GridLayout>
       <Button
        text= "Options"
        background="red" color="white" fontSize="20"
        height="60" class="m-b-200">
    </Button>
    </GridLayout>

</StackLayout>
